---
BasedOnStyle: Microsoft

# Alignment and indentation rules
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

# Braces rules
BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterFunction: true
  AfterControlStatement: true
  AfterNamespace: true
  BeforeElse: true
  BeforeCatch: true

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceInEmptyParentheses: false

# refs and pointers alignment
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive

# TODO includes sort

ReflowComments: false
...
